{
  "mcpServers": {
    "supabase": {
      "command": "npx",
      "args": [
        "-y",
        "@supabase/mcp-server-supabase@0.4.0",
        "--project-ref=TU_PROJECT_REF"
      ],
      "env": {
        "SUPABASE_ACCESS_TOKEN": "TU_SUPABASE_ACCESS_TOKEN"
      }
    }
  }
}
